body {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
    font-size: 1rem;
}

table,
th,
td {
    padding: 0.25rem;
    border-collapse: collapse;
    border: 0.1rem solid black;
}

.numericalvalue {
    text-align: center;
}

.redborder {
    color: red;
}

.hidden {
    display: none;
}


.centered {
    text-align: center;
}

div.tabs {
    min-height: 80rem;
    /* No height: can grow if :target doesn't work */
    
    position: relative;
    /* Establish a containing block */
    
    line-height: 1;
    /* Easier to calculate with */
    
    z-index: 0;
}
/* So that we can put other things behind */

div.tabs > div {
    display: inline;
}
/* We want the buttons all on one line */

div.tabs > div > a {
    font-size: 1.5rem;
    color: black;
    /* Looks more like a button than a link */
    
    background: aliceblue;
    /* Active tabs are light gray */
    
    padding: 0.5rem;
    /* Some breathing space */
    
    border: 0.1rem outset #BBB;
    /* Make it look like a button */
    
    border-bottom: 0.1em solid aliceblue;
}
/* Visually connect tab and tab body */

div.tabs > div:not(:target) > a {
    border-bottom: none;
    /* Make the bottom border disappear */
    
    background: lightskyblue;
}
/* Inactive tabs are dark gray */

div.tabs > div:target > a,
/* Apply to the targeted item or... */

:target #default2 > a {
    /* ... to the default item */
    
    border-bottom: 0.1rem solid aliceblue;
    /* Visually connect tab and tab body */
    
    background: aliceblue;
}
/* Active tab is light gray */

div.tabs > div > div {
    font-size: 14pt;
    background: #FFF;
    /* Light gray */
    
    z-index: -2;
    /* Behind, because the borders overlap */
    
    left: 0;
    top: 2.3rem;
    /* The top needs some calculation... */
    
    bottom: 0;
    right: 0;
    /* Other sides flush with containing block */
    
    overflow: auto;
    /* Scroll bar if needed */
    
    padding: 0.5rem;
    /* Looks better */
    
    border: 0.1rem outset #BBB
}
/* 3D look */

div.tabs > div:not(:target) > div {
    /* Protect CSS1 & CSS2 browsers */
    
    position: absolute
}
/* All these DIVs overlap */

div.tabs > div:target > div,
:target #default2 > div {
    position: absolute;
    /* All these DIVs overlap */
    
    z-index: -1
}
/* Raise it above the others */

div.tabs:target {
    outline: none
}